<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Projects Manager</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {{#if isUser}}
                <li><a href="/project/all">Projects</a></li>
                <li><a href="/team/all">Teams</a></li>
                {{/if}}
                {{#if isAdmin}}
                <li><a href="/project/assign">Projects</a></li>
                <li><a href="/team/assign">Teams</a></li>
                <li><a href="/team/create">Create Team</a></li>
                <li><a href="/project/create">Create Project</a></li>
                {{/if}}
                {{#if user}}
                <div class="right">
                    <li>Welcome, {{user.username}}!</li>
                    <li><a href="/user/profile">Profile</a></li>
                    <li>
                        <form id="logout-form" action="/user/logout" method="post"></form>
                        <a href="javascript:document.getElementById('logout-form').submit()">Logout</a>
                        {{else}}
                    </li>
                    <div class="right">
                        <li><a href="/user/login">Login</a></li>
                        <li><a href="/user/register">Register</a></li>
                    </div>
                    {{/if}}
                </div>
            </ul>
        </nav>
    </header>
    <main>
        {{!-- 
use it for multiple error messages - not implemented --}}
        {{!-- {{#each flash.error}}
        <li class="error">
            {{this}}
        </li>
        {{/each}} --}}

        {{#if error}}
        <div id="error">
            <h3 class="error">{{error}}</h3>
        </div>
        {{/if}}

        {{#if flash.message}}
        <div id="error">
            <h3 class="message">{{flash.message}}</h3>
        </div>
        {{/if}}

        {{#if flash.info}}
        <h3 class="message">{{flash.info}}</h3>
        {{/if}}
        {{{body}}}
    </main>
    <footer>
        Express Exam @SoftUni
    </footer>
</body>

</html>