{{!-- if email instead username, change it --}}

<h1>Register</h1>

<div class="form">
    <form id="register-form" action="/user/register" method="POST">
    <label for="username">Username:</label>
    <input required type="text" id="username" name="username" value="{{username}}" /><br>
    <label for="password">Password:</label>
    <input required  type="password" id="password" name="password" value="{{password}}"/><br>
    <label for="confirmedPassword">Repeat Password:</label>
    <input required  type="password" id="confirmedPassword" name="repeatPassword" value="{{repeatPassword}}"/><br>
    <label for="firstName">First Name:</label>
    <input required type="text" id="firstName" name="firstName" value="{{firstName}}"/><br>
    <label for="lastName">Last Name:</label>
    <input required type="text" id="lastName" name="lastName" value="{{lastName}}"/><br>
    <label for="imageUrl">Profile Picture:</label>
    <input  type="text" id="imageUrl" name="imageUrl" value="{{imageUrl}}"/><br>
    <input type="submit" value="Register" />
</form>
   
</div>
